:root {
  --main-black-color: #333;
  --dark-color: #949494;
  --blue-color: #3D9CEA;
  --yellow-color: #FFBD54;
  --error-color: #DC4D41;
  --yellow-hover: #F4FFAD;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
    url('../fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
    url('../fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
    url('../fonts/FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
    url('../fonts/FuturaPT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
    url('../fonts/FuturaPT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
    url('../fonts/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
    url('../fonts/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
    url('../fonts/FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Futura PT Book';
  background-color: #f9f9f9;
  background-image: url("../images/bg.png");
  background-position: calc(50% - 78px) calc(50% + 209px);
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header-inner {
  background-color: #F9F8F8;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 140px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.address-link {
  font-family: 'Futura PT';
  font-weight: 500;
  font-style: normal;
  color: var(--main-black-color);
  text-decoration: none;
}



.address::before {
  display: inline-block;
  margin-right: 9px;
  width: 14px;
  height: 13px;
  background-image: url("../images/house.svg");
  content: "";
}

.header-top__link {
  position: relative;
  font-family: 'Futura PT';
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: var(--main-black-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.header-top__link:hover {
  color: var(--yellow-color);
}

.header-top__link:active {
  color: var(--main-black-color);
  opacity: 0.6;
}

.header-top__link:first-child {
  margin-right: 22px;
}

.header-top__link:first-child::before {
  position: absolute;
  top: 3px;
  left: -26px;
  width: 13px;
  height: 13px;
  background-image: url("../images/phone.svg");
  content: "";
}

.header-top__link:nth-child(2) {
  margin-right: 22px;
}

.header-top__link:nth-child(2):before {
  position: absolute;
  top: 8px;
  left: -12px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--yellow-color);
  content: "";
}

.header-top__link:nth-child(3) {
  margin-right: 0;
}

.header-top__link:nth-child(3):before {
  position: absolute;
  top: 8px;
  left: -12px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--yellow-color);
  content: "";
}

.header-top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__text,
.footer-right__text {
  position: relative;
  font-family: 'Futura PT';
  font-weight: 500;
  font-size: 14px;
}

.header-top__text:first-child {
  margin-right: 17px;
}

.header-top__text:first-child::before,
.footer-right__text:first-child::before {
  position: absolute;
  top: 3px;
  left: -20px;
  width: 14px;
  height: 14px;
  background-image: url("../images/calendar.svg");
  content: "";
}


.header-top__times,
.footer-right__times {
  font-family: 'Futura PT Book';
}

.header-bottom {
  padding: 20px 0;
  background-color: #fff;
  border: 1px solid #F3F3F3;
}


.header-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo-img {
  position: absolute;
  top: -30px;
  left: -40px;
}


.header-list {
  width: 785px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-right: -55px;
  padding-left: 0;
  list-style: none;
}

.header-item {
  margin-right: 55px;
}

.header-item:first-child::before {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-right: 12px;
  content: "";
  background-image: url("../images/fish.svg");
}

.header-link {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  color: var(--main-black-color);
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

.header-link:hover {
  border-color: var(--yellow-hover);
}

.header-link:active {
  opacity: 0.6;
}

.read-more {
  position: relative;
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Futura PT';
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: var(--main-black-color);
}

.read-more::before {
  position: absolute;
  top: -3px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../images/leg.svg");
  content: "";
}

.hero {
  padding-top: 100px;
  padding-bottom: 311px;
  background-image: url("../images/pets.png"), url("../images/bird.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 675px) calc(50% - 80px), calc(50% + 845px) calc(50% + 210px);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 2.6/2),
only screen and (min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 124.8dpi),
only screen and (min-resolution: 1.3dppx) {

  .hero {
    background-image: url("../images/pets@2x.png"), url("../images/bird@2x.png") no-repeat;

  }

}



.hero-box {
  margin-left: auto;
  width: 608px;
}

.hero__title {
  margin-bottom: 29px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: var(--main-black-color);
}

.hero__blue {
  color: #78c0de;
}

.hero__inner {
  width: 495px;
}

.hero__text {
  margin-bottom: 38px;
  color: var(--dark-color);
}

.hero__link,
.dog__btn {
  padding: 15px 48px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: var(--main-black-color);
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero__link:hover,
.black-links:hover {
  color: var(--main-black-color);
  background-color: var(--yellow-color);
}

.hero__link:active,
.black-links:active {
  opacity: 0.6;
}

.quote {
  padding-top: 53px;
  padding-bottom: 100px;
}

.quote__box {
  position: relative;
  width: 753px;
  margin: 0 auto;
  text-align: center;
}

.quote__box::before {
  position: absolute;
  top: -30px;
  left: -60px;
  width: 148px;
  height: 120px;
  background-image: url("../images/quote-top.svg");
  background-repeat: no-repeat;
  content: "";
}

.quote__box::after {
  position: absolute;
  bottom: -5px;
  right: -160px;
  width: 148px;
  height: 120px;
  background-image: url("../images/quote-bottom.svg");
  background-repeat: no-repeat;
  content: "";
}

.quote__text {
  position: relative;
  margin-bottom: 70px;
  font-family: 'Futura PT Book';
  font-size: 20px;
  line-height: 26px;
  color: var(--dark-color);
}

.quote__text::before {
  position: absolute;
  top: -30px;
  left: 38%;
  width: 140px;
  height: 1px;
  background-color: #DBDBDB;
  content: "";
}

.quote__text::after {
  position: absolute;
  bottom: -40px;
  left: 38%;
  width: 140px;
  height: 1px;
  background-color: #DBDBDB;
  content: "";
}

.quote__title {
  font-family: 'Futura PT';
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--main-black-color);
}

.service {
  padding-top: 41px;
  padding-bottom: 150px;
}

.service__title {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #333333;
}

.service__box {
  position: relative;
}



.service__list {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  width: 1223px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  overflow: hidden;

}

.box-right {
  color: transparent;

}

.box-right:hover {
  color: #fff;
}

.box-right:active {
  opacity: 0.6;
}

.service-arrow {
  position: absolute;
  top: 33%;
  left: -6%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.service-arrow-right {
  position: absolute;
  top: 33%;
  right: -1%;

}


.service__item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 193px;
  text-align: center;
  background-color: #fff;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.service__item:hover {
  opacity: 0.8;
}

.service__item:active {
  opacity: 0.6;
}

.service__item:not(:last-child) {
  margin-right: 13px;
}

.service__link {
  display: block;
  margin-top: 21px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: var(--main-black-color);
}

.service__item::before {
  display: block;
  margin: 0 auto;
  content: "";
}

.service__item:not(:first-child) {
  margin-bottom: 14px;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
}

.service__item:first-child {
  padding: 30px 32px 42px 35px;
  border-radius: 5px 5px 0px 0px;
}

.service__item:first-child::before {
  width: 54px;
  height: 77px;
  background-image: url("../images/doctor.svg");
}


.service__item:nth-child(2)::before {
  width: 62px;
  height: 77px;
  content: "";
  background-image: url("../images/women.svg");
}

.service__item:nth-child(2),
.service__item:nth-child(3),
.service__item:nth-child(4),
.service__item:nth-child(5),
.service__item:nth-child(7),
.service__item:nth-child(9) {
  padding: 30px 32px 28px 35px;
}

.service__item:nth-child(3)::before {
  width: 72px;
  height: 77px;
  content: "";
  background-image: url("../images/dog.svg");
}

.service__item:nth-child(4),
.service__item:nth-child(6),
.service__item:nth-child(8),
.service__item:nth-child(10),
.service__item:nth-child(11),
.service__item:nth-child(12) {
  padding: 30px 32px 39px 35px;
}

.service__item:nth-child(4)::before {
  width: 76px;
  height: 76px;
  content: "";
  background-image: url("../images/illdog.svg");
}

.service__item:nth-child(5)::before {
  width: 78px;
  height: 78px;
  content: "";
  background-image: url("../images/lab.svg");
}

.service__item:nth-child(6)::before {
  width: 78px;
  height: 78px;
  content: "";
  background-image: url("../images/plusdog.svg");
}

.service__item:nth-child(7)::before {
  width: 77px;
  height: 77px;
  content: "";
  background-image: url("../images/uzi.svg");
}

.service__item:nth-child(8)::before {
  width: 77px;
  height: 77px;
  content: "";
  background-image: url("../images/nigle.svg");
  background-repeat: no-repeat;
}

.service__item:nth-child(9)::before {
  width: 87px;
  height: 77px;
  content: "";
  background-image: url("../images/calndog.svg");
  background-repeat: no-repeat;
}

.service__item:nth-child(10)::before {
  width: 77px;
  height: 77px;
  content: "";
  background-image: url("../images/drug.svg");
  background-repeat: no-repeat;
}

.service__item:nth-child(11)::before {
  width: 77px;
  height: 77px;
  content: "";
  background-image: url("../images/teeth.svg");
  background-repeat: no-repeat;
}

.service__item:nth-child(12)::before {
  width: 77px;
  height: 77px;
  content: "";
  background-image: url("../images/medecine.svg");
  background-repeat: no-repeat;
}

.service__bottom {
  width: 1223px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 42px 105px 43px 35px;
  background-color: #fff;
}

.check-cat {
  margin-right: 67px;
}

.service__heading {
  margin-bottom: 18px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  color: var(--main-black-color);
}

.service__desc {
  font-family: 'Futura PT Book';
  margin-bottom: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-color);
}

.service__desc:first-child {
  margin-bottom: 9px;
}


.service-links {
  display: inline-block;
  padding: 15px 36px 16px 63px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}

.service-links-dollar {
  position: relative;
  margin-right: 21px;
  background-color: var(--yellow-color);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.service-links-dollar:hover {
  color: var(--yellow-color);
  background-color: var(--main-black-color);
}

.service-links-dollar:active {
  opacity: 0.6;
}

.service-links-dollar::before {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 22px;
  background-image: url("../images/dollar.svg");
  content: "";
}

.service-links-doc {
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #333;
}



.service-links-doc::before {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 22px;
  background-image: url("../images/docs.svg");
  content: "";
}

.dog {
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  background-image: url("../images/section_blue.png");

}

.dog__box {
  position: relative;
  padding-left: 70px;
}

.dog-bg {
  position: absolute;
  bottom: calc(50% - 221px);
  right: 0;
  width: 613px;
  height: 481px;
  background-image: url("../images/sectionDog.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 2.6/2),
only screen and (min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 124.8dpi),
only screen and (min-resolution: 1.3dppx) {

  .dog-bg {
    background-image: url("../images/sectionDog@2x.png") no-repeat 613px 481px;
  }

}



.dog__title {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: #FFFFFF;
}

.dog__input {
  width: 335px;
  margin-right: 21px;
  padding: 14px 20px;
  font-family: 'Futura PT Book';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  background: #FFFFFF;
  border: 2px solid transparent;
  outline: none;
}

input:focus,
textarea {
  border-color: var(--yellow-color);
}

input:not(:-moz-placeholder-shown):not(:focus):invalid,
textarea:not(:-moz-placeholder-shown):not(:focus):invalid {
  color: var(--error-color);
  border-color: var(--error-color);
}

input:not(:-ms-input-placeholder):not(:focus):invalid,
textarea:not(:-ms-input-placeholder):not(:focus):invalid {
  color: var(--error-color);
  border-color: var(--error-color);
}

input:not(:placeholder-shown):not(:focus):invalid,
textarea:not(:placeholder-shown):not(:focus):invalid {
  color: var(--error-color);
  border-color: var(--error-color);
}

.dog__input::-webkit-input-placeholder {
  font-family: 'Futura PT Book';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-color);
}

.dog__input::-moz-placeholder {
  font-family: 'Futura PT Book';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-color);
}

.dog__input:-ms-input-placeholder {
  font-family: 'Futura PT Book';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-color);
}

.dog__input::-ms-input-placeholder {
  font-family: 'Futura PT Book';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-color);
}

.dog__input::placeholder {
  font-family: 'Futura PT Book';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-color);
}

.dog__btn {
  border: none;
}

.articles {
  padding-top: 151px;
  padding-bottom: 265px;
}

.articles__titles {
  margin: 0;
  margin-bottom: 80px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  text-align: center;
  color: var(--main-black-color);
}

.articles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: -24px;
  padding-left: 0;
  list-style: none;
}

.articles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 305px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 24px;
  background-color: #FEFEFE;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.articles__item img {
  height: 180px;
}

.articles__item:hover,
.articles__item:active {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-color: #E4E4E2;
}



.articles__item:hover .article-link-box .articles__link {
  color: var(--yellow-color);
}

.articles__item:active .article-link-box .articles__link {
  color: var(--main-black-color);
  opacity: 0.7;
}




.articles__item--active {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 640px;
}


.articles__item--active img {
  height: 100%;
}

.articles__item--active .articles__text:nth-child(2) {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.articles__item--active .articles__box {
  width: 100%;
  padding: 43px 35px 38px 31px;
}



.articles__item--active .articles__box .articles__tag {
  display: block;
}



.articles__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 21px 31px 37px 30px;

}

.article-link-box {
  margin-top: auto;
}


.articles__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.articles__tag {
  display: none;
  font-family: 'Futura PT Book';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  color: #3D9CEA
}

.articles__tag:not(:last-child) {
  margin-right: 7px;
}

.articles__desc {
  margin-left: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark-color);
}

.articles__bottom {
  width: 244px;
}

.articles-title-box {
  width: 182px;
  margin-bottom: 10px;
}

.articles__heading {
  margin: 0;
  margin-top: 2px;
  font-family: 'Futura PT';
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
}

.articles__text {
  margin: 0;
  margin-bottom: 37px;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-color);
}




.articles__text:nth-child(2) {
  display: none;
}

.articles__link {
  margin-left: 32px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.map {
  width: 100%;
  margin-bottom: 247px;
  background-color: var(--main-black-color);
  background-image: url("../images/black-back.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

iframe {
  width: 462px;
  height: 100%;
  border: none;
}

.map__box {
  width: 1790px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map__right {
  padding-top: 62px;
  padding-left: 166px;
  padding-bottom: 74px;
}

.map-title {
  margin-top: 0;
  margin-bottom: 14px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
}

.map-box {
  width: 334px;
}

.map__text {
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-color);
}

.map__name,
.map__email,
.map__textarea {
  width: 375px;
  display: block;
  margin-right: 0;
  margin-bottom: 14px;
  padding: 16px 10px 13px 22px;
  outline: none;
}

.map__name::-webkit-input-placeholder,
.map__email::-webkit-input-placeholder {
  font-family: 'Futura PT Book';
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.map__name::-moz-placeholder,
.map__email::-moz-placeholder {
  font-family: 'Futura PT Book';
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.map__name:-ms-input-placeholder,
.map__email:-ms-input-placeholder {
  font-family: 'Futura PT Book';
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.map__name::-ms-input-placeholder,
.map__email::-ms-input-placeholder {
  font-family: 'Futura PT Book';
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.map__name::placeholder,
.map__email::placeholder {
  font-family: 'Futura PT Book';
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.map__textarea {
  margin-bottom: 30px;
  resize: none;
  font-family: 'Futura PT Book';
  font-size: 16px;
  line-height: 21px;
  color: #DBDBDb;
}

.map__btn {
  display: inline-block;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border: none;
  padding: 15px 50px;
  color: #fff;
  background-color: var(--yellow-color);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.map__btn::before {
  display: none;
}

.site-footer {
  padding-top: 61px;
  padding-bottom: 23px;
  background-color: #F3F3F3;
  border: 1px solid #EBEBEB;
}

.footer-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-left__list {
  margin: 0;
  margin-left: 67px;
  margin-right: 100px;
  padding-left: 0;
  list-style: none;
}

.footer-left__second {
  margin: 0;
}


.footer-left__item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-link {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--main-black-color);
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer-link:hover,
.footer-tel-link:hover {
  color: var(--yellow-color);
}

.footer-link:active,
.footer-tel-link:active {
  color: #333333b3;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-times {
  margin-right: 137px;
}

.footer-right__text {
  margin-top: 0;
}

.footer-address {
  width: 157px;
  position: relative;
  margin-right: 110px;
}

.footer-address .address::before {
  display: none;
}

.footer-address::before {
  position: absolute;
  top: 5px;
  left: -20px;
  margin-right: 9px;
  width: 14px;
  height: 13px;
  background-image: url(../images/house.svg);
  content: "";
}

.footer-tel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.footer-tel-link {
  position: relative;
  display: block;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--main-black-color);
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer-tel-link:first-child::before {
  position: absolute;
  top: 3px;
  left: -26px;
  width: 13px;
  height: 13px;
  background-image: url("../images/phone.svg");
  content: "";
}

.policy {
  display: block;
  margin-top: 63px;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
  color: #5C5C5C;
}


.service-hero {
  padding-top: 118px;
  padding-bottom: 168px;
  background-image: url("../images/parrot.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 500px) calc(50% - 760px);
}


.service-box {
  width: 447px;
  margin-left: 80px;
  padding-bottom: 140px;
}

.service-title {
  margin-bottom: 21px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: var(--main-black-color);
}

.service-text {
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-color);
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: -34px;
  margin-left: -30px;
  padding-left: 0;
  list-style: none;
}

.service-item {
  width: 302px;
  flex-shrink: 0;
  margin-top: 34px;
  margin-left: 30px;
  padding: 58px 40px 45px 44px;
  background: #fff;
  border-radius: 5px 5px 0px 0px;
  background-image: url("../images/pet-leg.png");
  background-repeat: no-repeat;
  background-position: top right;
  transition: all 0.2s ease-in-out;
}

.service-item::before {
  display: block;
  width: 80px;
  height: 80px;
  margin-bottom: 21px;
  background-image: url("../images/doctor.svg");
  background-repeat: no-repeat;
  content: "";
}

.service-item:nth-child(2)::before {
  background-image: url("../images/women.svg");
}

.service-item:nth-child(3)::before {
  background-image: url("../images/dog.svg");
}

.service-item:nth-child(4)::before {
  background-image: url("../images/illdog.svg");
}

.service-item:nth-child(5)::before {
  background-image: url("../images/lab.svg");
}

.service-item:nth-child(6)::before {
  background-image: url("../images/plusdog.svg");
}

.service-item:nth-child(7)::before {
  background-image: url("../images/uzi.svg");
}

.service-item:nth-child(8)::before {
  background-image: url("../images/nigle.svg");
}

.service-item:nth-child(9)::before {
  background-image: url("../images/calndog.svg");
}

.service-item:nth-child(10)::before {
  background-image: url("../images/drug.svg");
}

.service-item:nth-child(11)::before {
  background-image: url("../images/teeth.svg");
}

.service-item:nth-child(12)::before {
  background-image: url("../images/medecine.svg");
}

.service-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}


.service-heading {
  margin-bottom: 14px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;
  color: var(--main-black-color);
}

.service-desc {
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-color);
}

.service-link {
  display: inline-block;
  padding: 15px 30px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  background-color: #78C0DE;
  border-radius: 3px;
}

.yellow {
  transition: all 0.3s ease-in-out;
  background-color: var(--yellow-color);
}

.yellow:hover {
  background-color: #000000;
}

.yellow:active {
  opacity: 0.6;
}

.wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000066;

 
}

.modal-show {
  display: block;
}

.modal {
  position: relative;
  width: 850px;
  height: 648px;
  margin: 0 auto;
  margin-top: 150px;
  background-image: url("../images/modalbg.png");
  animation: 3s move ;
}

@keyframes move{
  from{
    transform: translateY(-1000px);
  }
  to{
    transform: translateY(0);
  }
}

.close {
  padding: 18px;
  border: none;
  background-color: transparent;
}

.close::before {
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url("../images/close.svg");
  content: "";
}

.modal__box {
  display: flex;
  padding: 70px 40px 137px 58px;
}

.modal__left {
  width: 280px;
  margin-right: 124px;
  padding-top: 10px;
}

.modal__text {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--main-black-color);
}

.modal__link {
  position: relative;
  display: block;
  padding: 16px 36px 16px 68px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: var(--main-black-color);
  background: #FFFFFF;
}

.modal__link:last-child {
  margin-top: 21px;
  padding: 16px 36px 15px 56px;
}

.modal__link::before {
  position: absolute;
  top: 15px;
  left: 32px;
  width: 20px;
  height: 20px;
  background-image: url("../images/google.svg");
  content: "";
}

.modal__link:last-child::before {
  position: absolute;
  top: 15px;
  left: 22px;
  background-image: url("../images/facebook.svg");
}

.modal__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 54px;
  color: var(--main-black-color);
}

.input-name {
  width: 335px;
  display: block;
  border: 1px solid transparent;
  margin-right: 0;
  margin-bottom: 14px;
  padding: 16px 10px 13px 22px;
  outline: none;
}

.input-name:focus {
  border-color: var(--yellow-color);
}

.modal-textarea {
  width: 335px;
  display: block;
  margin-bottom: 27px;
  padding: 17px 10px 22px 22px;
  font-family: 'Futura PT Book';
}

.modal-textarea::placeholder {
  font-family: 'Futura PT Book';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--dark-color);
}

.modal__black {
  padding: 15px 58px;
  border: 2px solid transparent;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: var(--main-black-color);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.modal__black:hover {
  border-color: var(--main-black-color);
}