:root {
    --main-black-color: #333;
    --dark-color: #949494;
    --blue-color: #3D9CEA;
    --yellow-color: #FFBD54;
    --error-color: #DC4D41;
    --yellow-hover: #F4FFAD;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaPT-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaPT-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
        url('../fonts/FuturaPT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/FuturaPT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/FuturaPT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
        url('../fonts/FuturaPT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* GENERAL */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    display: block;
    height: auto;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Futura PT Book';
    background-color: #f9f9f9;
    background-image: url("../images/bg.png");
    background-position: calc(50% - 78px) calc(50% + 209px);
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Start Open Hero Section */
#open-hero {
    padding-top: 497px;
    background-image: url("../images/open-hero-bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(50% + 1px) calc(50% - 5px);
}

/* End of Open Hero Section */

/* Start Open Info Section */
.open-info-part {
    display: flex;
    margin: 32px 0 174px 0;

}

.open-main {
    margin: 0 143px 0 auto;
    width: 640px;
}

.open-main__top-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.open-main__top-item:not(:last-child) {
    margin-right: 18px;
}

.open-main__top-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--dark-color);
    text-decoration: none;
}

.open-main__top-link--style {
    display: flex;
    align-items: center;
}

.open-main__top-link--style::before,
.open-main__top-link--style::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--yellow-color);
}

.open-main__top-link--style::before {
    margin-right: 8px;
}

.open-main__top-link--style::after {
    margin-left: 8px;
}

.open-main__top-link--active {
    color: var(--main-black-color);
}

.open-main__title {
    margin: 33px 0 28px;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: var(--main-black-color);
}

.open-main__title-yellow {
    color: var(--yellow-color);
}

.open-main__texts {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--dark-color);
}

.open-main__texts:not(:last-child) {
    margin-bottom: 22px;
}

.open-main__texts:nth-child(2) {
    margin-bottom: 28px;
}

.open-main__link-box {
    display: flex;
    align-items: center;
    width: 447px;
    margin-top: 64px;
}

.open-main__link {
    display: inline-flex;
    padding: 15px 37px 14px 37px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all .5s;
}

.open-main__link--price {
    margin-right: 21px;
    background-color: var(--yellow-color);
    border-radius: 3px;
}

.open-main__link--price:hover {
    background-color: var(--main-black-color);
    color: var(--yellow-color);
}

.open-main__link--price:active,
.open-main__link--follow:active {
    opacity: 0.6;
}

.open-main__link--price::before,
.open-main__link--follow::before {
    content: "";
    margin-right: 7px;
    width: 21px;
    height: 21px;
    background-image: url("../images/dollar.svg");
}

.open-main__link--follow {
    background-color: var(--main-black-color);
    border-radius: 3px;
}

.open-main__link--follow::before {
    background-image: url("../images/docs.svg");
}

.open-main__link--follow:hover {
    background-color: var(--yellow-color);
    color: var(--main-black-color);
}

.open-article {
    width: 305px;
    margin-top: 9px;
}

.open-article__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.open-article__item {
    border: 1px solid #E4E4E2;
    border-radius: 5px;
}

.open-article__item:not(:last-child) {
    margin-bottom: 11px;
}

.open-article__text-box {
    padding: 19px 27px 38px 30px;
}

.open-article__item-time {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--dark-color);
}

.open-article__list-title-box {
    width: 182px;
}

.open-article__list-title {
    margin: 3px 0 0 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
}

.open-article__list-text-box {
    width: 244px;
}

.open-article__list-text {
    margin: 13px 0 30px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--dark-color);
}

.open-article__list-link {
    display: inline-flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-black-color);
    text-decoration: none;
    transition: all .5s;
}

.open-article__list-link::before {
    width: 23px;
    height: 21px;
    margin-right: 5px;
    background-image: url("../images/leg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}

.open-article__list-link:hover {
    color: var(--yellow-color);
}

.open-article__list-link:active {
    opacity: 0.6;
}

/* End of Open Info Section */

/* Start Open Form Section */
#open-form {
    margin-bottom: 187px;
    padding: 64px 0 65px 0;
    background-image: url("../images/open-form-bg-img.jpg");
    background-size: cover, contain;
    background-repeat: no-repeat;
    background-position: center;
}

.open-form-part {
    display: flex;
}

.open-form-part__title-box {
    width: 276px;
    margin: 0 61px 0 100px;
}

.open-form-part__title {
    margin: 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 62px;
    color: #FFFFFF;
}

.open-form-part__text {
    margin: 8px 0 0 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
}

.open-form {
    position: relative;
    width: 335px;
}

.open-form::before {
    position: absolute;
    top: calc(50% - 289px);
    left: calc(50% + 100px);
    width: 700px;
    height: 636px;
    background-image: url("../images/open-form-dog-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}

.open-form__input,
.open-form__message {
    width: 335px;
    margin-bottom: 14px;
    padding: 16px 22px 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    background-color: #FFFFFF;
    outline: none;
    border: 2px solid transparent;
}

.open-form__message {
    height: 165px;
    resize: none;
}

.open-form__input:focus,
.open-form__message:focus {
    border: 2px solid #FFBD54;
}

.open-form__input:not(:placeholder-shown):not(:focus):invalid,
.open-form__message:not(:placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.open-form__input::placeholder,
.open-form__message::placeholder {
    color: #949494;
}

.open-form__btn {
    margin-top: 12px;
    padding: 15px 49px 14px 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #000000;
    border: none;
    transition: all .5s;
}

.open-form__btn:hover {
    background-color: #FFBD54;
    color: #333333;
}

.open-form__btn:active {
    opacity: 0.6;
}

/* End of Open Form Section */